.navbar .nav-link {
  color: #000;
  font-size: 0.9rem;
  padding-left: .75rem;
  padding-right: .75rem;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  font-weight: 400;
}

.navbar .nav-link.active {
  color: #0d6efd !important;
  border-bottom-color: #0d6efd;
  font-weight: 500;
}





 #phoneCarousel .carousel-indicators {
    position: static !important;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    gap: 6px !important;
  }

  #phoneCarousel .carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
    background-color: #cfd3dc !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 1 !important;
  }

  #phoneCarousel .carousel-indicators .active {
    background-color: #0d6efd !important;
  }
